@charset "utf-8";

.germanFlag {
    width: 200px;
    margin-top: 15px;
}

h1 {
    width: 360px;
    margin: 32px auto;
    font-weight: normal;
    font-size: 23px;

}

p {
    color: #696969;
    font-weight: bold;
    font-size: x-large;
}

section {
    border: 4px solid #db7093;
    text-align: center;
    color: #3cb371;
}

button {
    all: unset;
    width: 100%;
    background: #db7093;
    border-radius: 8px;
    color: white;
    text-align: center;
    margin-top: 16px;
    padding: 8px 0;
    cursor: pointer;
    box-shadow: 0 4px #7a0000;
}

button:active {
    box-shadow: 0 1px #7a0000;
    transform: translateY(3px);
}